header{
	display:block;
	background-color:#120323;
	color:#97bf04;
    align-content: center;
    text-align: center;
}

main{
    margin: auto;
    display: block;
}

img{
    margin: auto;
    display: block;
    border-radius: 10px;
}

button{
    margin: auto;
    background-color: #d9043d;
    border-radius: 10px;
}